.hero-section .slide-content {
  position: absolute;
  top: 50%;
  left: 5%; /* Adjust for better positioning on small screens */
  transform: translateY(-50%);
  text-align: left;
}

.hero-section img {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .hero-section .slide-content {
    left: 10%; /* Adjust as necessary for medium screens */
  }
}

@media (min-width: 1024px) {
  .hero-section .slide-content {
    left: 15%; /* Adjust as necessary for large screens */
  }
}

@media (min-width: 1280px) {
  .hero-section .slide-content {
    left: 8%; /* Adjust as necessary for extra-large screens */
  }
}
